In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('chat_gpt_context/distilbert_squad_dataset.csv')
df = df[['context', 'payload', 'question', 'answer']]
df.head()

,context,payload,question,answer
0,If any string appears between select and from ...,GET /vulnerabilities/sqli/?id=%28SELECT%20%28C...,"In the case of the corresponding payload, whic...",SQLInjection
1,If any string appears between select and from ...,GET /bbs/board.php?bo_table=ad_04_01%27)%20AND...,"In the case of the corresponding payload, whic...",SQLInjection
2,If any string appears between select and from ...,"ataroom/notice_list.asp"" class=""depth1_btn"">.ڷ...","In the case of the corresponding payload, whic...",SQLInjection
3,If any string appears between select and from ...,GET /plus/recommend.php?action=&aid=1&_FILES[t...,"In the case of the corresponding payload, whic...",SQLInjection
4,If any string appears between select and from ...,DELETE /vizql/w/_01___v3DB/v/__6/destroy/sessi...,"In the case of the corresponding payload, whic...",SQLInjection

In [7]:
# answer_start, answer_end 계산
df['answer_start'] = df.apply(lambda row: row['context'].find(row['answer']), axis=1)
df['answer_end'] = df.apply(lambda row: row['answer_start'] + len(row['answer']), axis=1)

In [8]:
df.head()

,context,payload,question,answer,answer_start,answer_end
0,If any string appears between select and from ...,GET /vulnerabilities/sqli/?id=%28SELECT%20%28C...,"In the case of the corresponding payload, whic...",SQLInjection,103,115
1,If any string appears between select and from ...,GET /bbs/board.php?bo_table=ad_04_01%27)%20AND...,"In the case of the corresponding payload, whic...",SQLInjection,103,115
2,If any string appears between select and from ...,"ataroom/notice_list.asp"" class=""depth1_btn"">.ڷ...","In the case of the corresponding payload, whic...",SQLInjection,103,115
3,If any string appears between select and from ...,GET /plus/recommend.php?action=&aid=1&_FILES[t...,"In the case of the corresponding payload, whic...",SQLInjection,103,115
4,If any string appears between select and from ...,DELETE /vizql/w/_01___v3DB/v/__6/destroy/sessi...,"In the case of the corresponding payload, whic...",SQLInjection,103,115

In [9]:
df['answer'].value_counts()

AttemptAccessAdminPage    11722
CrossSiteScripting         1910
WordPress                  1184
SQLInjection                903
MaliciousBot                673
CommandInjection            396
JNDIInjection                89
Name: answer, dtype: int64

In [10]:
df['question'] = df['question'].str.lower()
df['context'] = df['context'].str.lower()
df['answer'] = df['answer'].str.lower()

In [11]:
import json

# JSON으로 변환
json_data = json.dumps({
    'data': [
        {
            'paragraphs': [
                {
                    'context': row['context'],
                    'payload': row['payload'],
                    'qas': [
                        {
                            'question': row['question'],
                            'id': str(idx),
                            'answers': [
                                {
                                    'text': row['answer'],
                                    'answer_start': row['answer_start'],
                                    'answer_end': row['answer_end']
                                }
                            ]
                        }
                    ]
                }
            ]
        } for idx, row in df.iterrows()
    ]
})

In [12]:
# json_data

In [13]:
file_path = 'chat_gpt_context'
file_name = 'distilbert_squad_dataset.json'

In [14]:
import os
# JSON 파일 저장
# with open(os.path.join(file_path, file_name), 'w', encoding='utf-8') as f:
#   f.write(json_data)